<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>
    {% extends 'portfolio/base.html' %}
    {% block content %}
    <h1 class="dispaly-1 text-center my-4">Blog</h1>
    <br>
    <h2 class="h3 text-center">I have written {{Blags.count}} blog{{Blags.count|pluralize}} </h2>
    <div class="container">
    {% for blag in Blags %}
    <div class="border border-primary mb-3 rounded px-3">
        <br>
     <a href="{% url 'blog:detail' blag.id  %}"><h1>{{blag.title}}</h1></a>
    <h4>{{blag.time}}</h4>
    <p>{{blag.text|truncatechars:100}}</p>
    </div>
    {% endfor %}   
    
    
    </div>
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>